# Ignore all CSV files in create_well_logging_h5/input directory
create_well_logging_h5/input/*.csv

# Ignore all files and subdirectories in create_well_logging_h5/output directory
create_well_logging_h5/output/**/

# Ignore all files and subdirectories in experiment directory
experiment/**/

.idea/